<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.esintulun.pauli">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="26" />

    <uses-permission-sdk-23
        android:name="android.permission.CAMERA"
        android:maxSdkVersion="26" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/rotelampe2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SchuelerVergehenDBDaten"></activity>
        <activity android:name=".Camera2" />
        <activity android:name=".EmailSendActivity" />
        <activity android:name=".KlassenActivity" />
        <activity android:name=".paulirot.Debug_Main" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".LoginActivity" />
        <activity android:name=".Kamera" />
        <activity android:name=".VergehenActivity" />
        <activity android:name=".SchuelerVergehenInfo" />
        <activity android:name=".KlasseActivity" />
        <activity android:name=".KlasseActivityMitCBox" />
        <activity android:name=".VorfaelleTableActivity" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".CameraTest" />
        <activity android:name=".Cameratest2Activity" />
        <activity android:name=".SendMailActivity" />
        <activity android:name=".Statistics" />
        <activity
            android:name=".PauseActivity"
            android:label="Pause"
            android:noHistory="true"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>